/* @orange-page: #ED7200;
@red-button:#FF000A;
@yellow-button:#FFDE32;
@yellow-price:  #FA7D09;
@green-check: #44C4A1; */
:root{

    --orange-page: #ED7200;
--red-button:#FF000A;
--yellow-button:#FFDE32;
--yellow-price:  #FA7D09;
--green-check: #44C4A1;


}
*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    height: 109px;
    background-color: var(--orange-page);
   border-bottom-left-radius: 90%;
   border-bottom-right-radius:90%;
   width: 1920px;
   box-shadow: 0px 4px 35px rgba(162, 58, 0, 0.75);
}
.nav-information-page{
    display: flex;
}
.nav-logo-page{
    margin-left: 12.625rem;
}
.nav-information-page{
    margin-left: 17.0625rem;
    color: white;
    font-family: 'Montserrat';
font-style: normal;
}
.nav-hompage{
    /* padding: 10px; */
  border: 1px white  solid;
  /* border-color: white; */
  border-radius: 12px;
  padding-top: 10px;
  height: 42px;

  padding-left: 24px;
  padding-right: 24px;
  margin-right: 80px;
}
.nav-information-page{
    margin-top: 29px;
}
.nav-event{
    border: 1px white  solid;
    /* border-color: white; */
    border-radius: 12px;
    padding-top: 10px;
    height: 42px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 80px;
}
.nav-contact{
    border: 1px white  solid;
    /* border-color: white; */
    border-radius: 12px;
    padding-top: 10px;
    height: 42px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 80px;
}
.nav-number{
    display: flex;
    margin-top: 34px;
 justify-content: center;
}
.nav-number img{
height: 32px;
width: 32px;
}
.nav-number p{
    margin-top: 10px;
    margin-left: 8px;
    color: #FFF;
}
.nav-number{
    margin-left: 213px;
}

body{
    background-image: linear-gradient(0deg, #ED7200 0%, #FF9933 45% , #FF9933 50%, #ED7200 100%);
    background-repeat: no-repeat;
    position: relative;
    height: 1080px;
}

.logo-damsen{
    position: absolute;
    top: 157px;
    left: 200px;
}
.icons-left{
    position: absolute;
    top:321px;
    left: 18px;
}
.background-yellow{
    margin-left: 53px;

}
.icons-bottom{
    position: absolute;
    left: 630px;
    bottom: 0;
}
.icons-top-yellow{
    position: absolute;
    top:183px;
    left:807px;
}
.icons-top-yellow-red{
    position: absolute;
    top:95px;
    left:1029px;
}
.icons-top-children{
    position: absolute;
    top:23px;
    left:1052px;
}
.conter-body-ticket{
    position: absolute;
    top: -20px;
    left: 1100px;
}
.icons-right{
    position: absolute;
    right: 0;
    top:377px;
}
.icons-bottom-right{
    position: absolute;
    right: 61px;
    bottom:17px;
}
.backgroud-yellow{
    position: absolute;
    top:43px;



}
.backgroud-yellow img{
    /* width: 1784px; */
}
.conter-body-left-infomation{
    position: absolute;
    top:48px;
    left: 68px;
    width: 830px;
}
.conter-body-left-infomation >div{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */


    /* Text */

    color: #23221F;

    opacity: 0.7;
}
.conter-body-left-infomation-star{
    position: absolute;
    top:269px;
    left: 127px;

}
.conter-body-left-infomation-star div{
   display: flex;
   align-items : center;
   font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

width: 748px;
/* Text */

color: #23221F;

opacity: 0.9;
margin-bottom:8px;

}
.conter-body-left-infomation-star--text div{
margin-left: 8px;

}
.conter-body-between{
    position: absolute;
    top:0px;
    left:904.5px;
}
.conter-body-right{
    position: absolute;
    top :0;

    left:976px;

}
.conter-lasa-img{
    position: absolute;
    bottom: 38px;
    left: 0;
}
header{
    position: absolute;
    top:0;

}
.conter-body{
    position: absolute;
    top:361px;
    left: 201px;
    height: 600px;
    width: 539px;
}
.conter-body-left{
    /* position: absolute;
    top:361px;
    left: 201px;
    background-image: url(asset('path/to/your/image.png') );
    background-repeat: no-repeat;
    width: 960px;
    height: 600px; */
}
.conter-body-right{
    position: absolute;
    bottom: 119px;
    right: 200px;
    /* background-image: url('assets/imgs/background/Group.png'); */
    background-repeat: no-repeat;
}
.from-ticket-service{
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
}
.conter-body-right-form{
    position: absolute;
    left: 36px;
    top: 86px;
    display: flex;
    width: 467px;
    align-items: center;

}
.conter-body-right-form input{
  padding: 10px;
  background: #FFFFFF;
/* inner shadow */

box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
border-radius: 16px;
border-color: white;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
width: 396px;
font-size: 18px;
height: 56px;
line-height: 26px;
}
.conter-body-right-form button{
margin-left: 16px;
border: none;
}

.from-ticket-service-date{
    display: flex;
    position: absolute;
    /* left: 36px; */
    top:80px;
}
.from-ticket-service-date input{
  height: 56px;
  width: 224px;
}
.from-ticket-service-date button{
 border: none;
}
.from-ticket-service-date input:first-child{
  width: 155px;

  margin-right: 24px;

}

.from-ticket-service-use-infomation{
position: absolute;
top:155px;
}
.from-ticket-service-use-infomation input{
margin-bottom: 15px;
width: 468px    ;
}
.from-ticket-service-use-infomation button{
display: block;
width: 368px;
margin-top: 8px;

height: 68px;
color: white;
background-color: #FF000A;
font-family: 'iCiel Koni';
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 41px;
margin-left: 51px;
/* W */
border-radius: 10px;
filter: drop-shadow(0px 4px 8px rgba(165, 15, 15, 0.45));
color: #FFFFFF;
}
